<nav>
    <div class="d-flex flex-column p-2">
        <a href="/Admin">Adminka</a>
        <a asp-area="Admin"
           asp-controller="AdminPosts"
           asp-action="Index">
            Посты
        </a>
    </div>
</nav>