@model IEnumerable<VideoNews.Models.Post.Post>

@{ ViewData["meta_title"] = "Все видео новости"; }

<div class="d-flex flex-wrap">
    @{
        foreach (var post in Model)
        {
            <div class="p-2 col-2">
                <partial name="Post/_CardPartial" model="post"/>
            </div>
        }
    }
</div>